/*#057aff*/
/*====RESET====*/
body, html, div, p, *{
	margin: 0;
	padding: 0;
}

/*====TAGS====*/
aside{
	background: #0F0;
	overflow: auto;
	height: 100%;
	min-height: 300px;
	width: 15%;
}
body{
	font-family:"Lucida Sans Unicode";
}
button{
	background:#057aff;
	border:1px solid #333;
	color: #FFF;
	cursor:pointer;
	padding: 4px 5px;
	font-weight:bold;
}
button:hover{
	box-shadow: 0px 0px 15px #F00;
}

/*====ID====*/
#aside_left{
	float: left;
}
#aside_right{
	float: right;
}
#banner{
	background: url(../images/core/banner.png) no-repeat center;
	height: 100px;
	margin-left: 20px;
	max-width: 30%;
	min-width: 450px;
	padding:0 10px;
}
#body_frame{
	background: #000;
	clear: both;
	overflow: auto;
	width: 100%;
}
#content{
	background: #F00;
	float: left;
	min-height: 300px;
	width: 70%;
}
#footer{
	background: #0FF;
	clear:both;
	min-height: 150px;
	width: 100%;
}
#login_bar{
	height: 40px;
	line-height: 40px;
	padding:5px;
	text-align: right;
}
#login_button{
	margin-right: 20px;
}
#main_frame{
	height: 100%;
	min-height: 500px;
	width: 100%;
}

/*====CLASS====*/