/*#057aff*/
/*====RESET====*/
body, html, div, p, *{
	margin: 0;
	padding: 0;
}

/*====TAGS====*/
aside{
	background: #0F0;
	overflow: auto;
	height: 100%;
	min-height: 300px;
	width: 15%;
}
body{
	font-family:"Lucida Sans Unicode";
}
button{
	background:#057aff;
	border:1px solid #333;
	color: #FFF;
	cursor:pointer;
	padding: 4px 5px;
	font-weight:bold;
}
button:hover{
	box-shadow: 0px 0px 15px #007BFF;
}
input:focus{
	box-shadow: 0px 0px 15px #007BFF;
}

/*====ID====*/
#aside_left{
	float: left;
}
#aside_right{
	float: right;
}
#banner{
	background: url(../images/core/banner.png) no-repeat center;
	height: 100px;
	display:block;
	max-width: 30%;
	min-width: 450px;
	padding:0 10px;
}
#body_frame{
	clear: both;
	overflow: auto;
	width: 100%;
}
#content{
	float: left;
	min-height: 300px;
	width: 70%;
}
#footer{
	clear:both;
	min-height: 150px;
	width: 100%;
}
#login_bar{
	width: 100%;
	float: right;
	height: 50px;
	line-height: 50px;
	text-align: right;
}
#login_button{
	margin-right: 20px;
}
#main_frame{
	height: 100%;
	min-height: 500px;
	width: 100%;
}
#search_bar{
	height:50px;
	width: 100%;
	line-height: 50px;
	float: right;
}
#search_input{
	height: 25px;
	width:800px;
	margin-left: 20px;
}
#top_frame{
	overflow: auto;
	width: 70%;
	float: right;
	height: 100px;
}

/*====CLASS====*/
.clear_both{
	clear:both;
}