/*====TAGS====*/
nav{
	background: #00F;
	height: 50px;
	text-align: center;
	width: 100%;
}
nav ul{
	display: inline-block;
	height: 100%;
	list-style: none;
	margin: 0 auto;
	overflow: auto;
}
nav li{
	background: #0F0;
	float: left;
	height: 100%;
	line-height: 50px;
	margin: 0 10px;
	padding: 0 20px;
}
/*====ID====*/
/*====CLASS====*/