<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="global.css">
</head>
<body>
	<div id="main_frame">
		<div id="banner"></div>
		<nav>
			<ul>
				<li>ITEM 1</li>
				<li>ITEM 2</li>
				<li>ITEM 3</li>
				<li>ITEM 4</li>
				<li>ITEM 5</li>
			</ul>
		</nav>
		<div id="body_frame">	
			<aside>
				<div id="aside_left" class="aside"></div>
			</aside>
			<div id="content"></div>
			<aside>
				<div id="aside_right" class="aside"></div>
			</aside>
		</div>
		<footer>
			<div id="footer"></div>
		</footer>
	</div>
</body>
</html>