<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="../stylesheets/reset.css">
	<link rel="stylesheet" href="../stylesheets/global_desktop.css">
	<link rel="stylesheet" href="../stylesheets/global_tablet.css">
</head>
<body>
	<div id="banner"></div>
	<nav></nav>
	<div id="main_frame">
		<div id="asides">
			<aside class="float_left"><h4 class="aside_header">Sample Header</h4></aside>
			<aside class="float_right"><h4 class="aside_header">Sample Header</h4></aside>
		</div>
		<div id="content"><h4 class="content_header">Sample Header</h4></div>
		<footer></footer>
	</div>
</body>
</html>