<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Page Title</title>
	<link rel="stylesheet" href="../stylesheets/global.css">
	<link rel="stylesheet" href="../stylesheets/navigation.css">
</head>
<body>
	<div id="top_frame">
	<div id="login_bar">
		<button id="login_button">Login</button>	
	</div>
	<div id="search_bar" class="clear_both">
		<input type="text" name="search" id="search_input">
		<button id="search_button">Search</button>
	</div>	
	</div>
	
	<div id="banner"></div>
	<div id="main_frame">
		<div id="body_frame">	
			<aside id="aside_left">
				<div class="aside_div">
					Sample Content		
				</div>
			</aside>
			<div id="content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, officia deserunt modi fugit vel maiores recusandae laboriosam? Odio, eius, necessitatibus, error illo distinctio fugiat impedit quas beatae dolore et eveniet.</p>
				<p>Vitae, quo rem pariatur velit ducimus. Temporibus, perspiciatis, accusamus doloremque maxime vel maiores totam incidunt quasi excepturi numquam ullam sunt dicta voluptas molestiae non illum asperiores suscipit fugit provident ipsa.</p>
				<p>Inventore, culpa nemo nam harum temporibus distinctio officiis recusandae eos. Nemo, minima expedita ad! Hic optio tenetur beatae velit ipsum nisi! Sunt, cupiditate molestiae natus ad tenetur quia aperiam doloremque.</p>
				<p>Nihil, dignissimos nam id soluta doloremque nostrum aspernatur voluptates ipsa ab natus. Amet, veritatis ipsum eos accusamus quas quaerat nihil alias fuga recusandae consectetur! Excepturi, totam facilis quos praesentium tenetur?</p>
				<p>Cum, consequatur illum impedit recusandae odit exercitationem consectetur dolorem ad ipsum perferendis quod maiores quia doloribus ex voluptates eveniet blanditiis numquam ut optio doloremque vel perspiciatis suscipit! Fugit, asperiores, odit.</p>
			</div>
			<aside id="aside_right">
				<div class="aside_div">
					Sample Content		
				</div>
			</aside>
		</div>
		<footer>
			<div id="footer"></div>
		</footer>
	</div>
</body>
</html>